<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="mb-10">Cuestionario de creencias</mat-card-title>
      <mat-card-subtitle class="mb-20">
        Este registro de opciones tiene como misión poner de manifiesto sus creencias particulares. Es solo una
        herramienta que permite acercarnos a nuestra forma de percibir la realidad
        Conteste el test y no piense mucho en cada ítem. Escriba rápidamente la respuesta y pase a la siguiente.
        Asegúrese de que contesta lo que usted realmente piensa, no lo que cree que debería pensar.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombres" formControlName="nombres">
            @if (addressForm.controls['nombres'].hasError('required')) {
              <mat-error>Los nombres son <strong>obligatorios</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellidos" formControlName="apellidos">
            @if (addressForm.controls['apellidos'].hasError('required')) {
              <mat-error>Los apellidos son <strong>obligatorios</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #edad min="1" max="100" placeholder="Edad" type="number"
            formControlName="edad">
            @if (addressForm.controls['edad'].hasError('required')) {
              <mat-error>La edad es <strong>obligatoria</strong></mat-error>
            }@else if (addressForm.controls['edad'].hasError('min')) {
              <mat-error>La edad minima es <strong>{{addressForm.controls.edad.errors?.['min'].min}} años</strong></mat-error>
            }@else if (addressForm.controls['edad'].hasError('max')) {
              <mat-error>La edad máxima es <strong>{{addressForm.controls.edad.errors?.['max'].max}} años</strong></mat-error>
            }
            <mat-hint align="end">{{edad.value.length}} / 3</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <mat-select placeholder="Género" formControlName="genero">
            <mat-option value="femenino">Femenino</mat-option>
            <mat-option value="masculino">Masculino</mat-option>
          </mat-select>
          @if (addressForm.controls['genero'].hasError('required')) {
            <mat-error>El género es <strong>obligatorio</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Colegio" formControlName="colegio">
            @if (addressForm.controls['colegio'].hasError('required')) {
              <mat-error>El colegio es <strong>obligatorio</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Curso" formControlName="curso">
            @if (addressForm.controls['curso'].hasError('required')) {
              <mat-error>El curso es <strong>obligatorio</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Bachillerato" formControlName="bachillerato">
            @if (addressForm.controls['bachillerato'].hasError('required')) {
              <mat-error>El bachillerato es <strong>obligatorio</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      @for (pregunta of preguntas; track pregunta) {
        <div class="row">
          <div class="col">
            <label [id]="getId($index)">{{$index + 1}}. {{pregunta}}.</label>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col">
            <mat-radio-group (aria-labelledby)="getId($index)" [formControlName]="getId($index)">
              <mat-radio-button [value]="false">No estoy de acuerdo</mat-radio-button>
              <mat-radio-button [value]="true">Estoy de acuerdo</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      }

    <!--
      <div class="row">
        <div class="col">
          <label id="pregunta1">1. Para mí es importante recibir la aprobación de los demás.</label>
        </div>
      </div>
      <div class="row mb-10">
        <div class="col">
          <mat-radio-group aria-labelledby="pregunta1" formControlName="pregunta1">
            <mat-radio-button value="no">No estoy de acuerdo</mat-radio-button>
            <mat-radio-button value="si">Estoy de acuerdo</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label id="pregunta2">2. Odio equivocarme en algo.</label>
        </div>
      </div>
      <div class="row mb-10">
        <div class="col">
          <mat-radio-group aria-labelledby="pregunta2" formControlName="pregunta2">
            <mat-radio-button value="no">No estoy de acuerdo</mat-radio-button>
            <mat-radio-button value="si">Estoy de acuerdo</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>